.homePage {
  display: flex;
  flex-direction: column;
   width: 1440px;
  height: 709px;
   margin: 0 auto;
   background-color: #0C0D0D;
}
.mainContent {
  flex: 1; /* Allow main content to expand and take available space */
  padding: 20px;
  width: 562px;
  height: 351px;
  margin: 0 auto;
}

.content {
  margin-top: 20px;
}
