/* src/components/DecorationComponent/DecorationComponent.module.css */

.container {
  position: relative;
  width: 100%; 
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensure content doesn't overflow */
}

.backgroundImage {
  position: absolute;
  top: 132px; /* Adjust as needed */
  left: 100px; /* Adjust as needed */
  width: 611px;
  height: 568px;
  background-size: cover; /* or 'contain', depending on your preference */
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  border-radius: 20px;
}
.decorationTab {
  position: relative;
  z-index: 10; /* This will sit above the background */
  /* Additional styles for decoration tab */
}
