.link {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

.icon {
  width: 24px; /* Adjust this size to fit your design */
  height: 24px; /* Adjust this size to fit your design */
  margin-right: 8px; /* Space between icon and text */
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 10px;
  color: #b8b7ad;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}
