/* src/components/AuthForm/AuthForm.module.css */
.authFormContainer {
  max-width: 399px;
  padding: 20px;
}

.authForm {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px;
  
}

.formField {
  width: 399px;
  height: 48px;
  padding: 10px;
  border: 1px solid rgb(250, 250, 250);;
  border-radius: 12px;
}

.invalid {
  border-color: red;
}

.errorMessage {
  color: red;
  font-size: 0.875em;
}

.submitButton {
  width: 145px;
  height: 47px;
  padding: 10px;
  background-color: #0EF387;
  color: 0C0D0D#;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}

.navigation {
  margin-top: 15px;
   margin-left: 0;
}

.navLink {
  color: #007bff;
  text-decoration: none;
}

