.authFormContainer {
  max-width: 699px;
  padding: 20px;
  margin-left: 786px;
  position: absolute;
  width: 400px;
}

.authForm {
  display: flex;
  flex-direction: column;
  width: 100%; /* Ensure full width if needed */
  max-width: 600px; /* Cap the width to maintain a consistent layout */
}

.formGroup {
  margin-bottom: 15px;
}

.fieldWrapper {
  position: relative; /* Make the button absolute within this container */
}

.formField {
  width: 100%; /* Set to full width */
  height: 48px;
  padding: 10px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 12px;
  color: rgb(250, 250, 250);
  margin-top: 5px;
  background-color: #0C0D0D;
}

.invalid {
  border-color: rgba(250, 250, 250, 0.2);
}

.errorMessage {
  color: blue;
  font-size: 0.875em;
}

.submitButton {
  width: 145px;
  height: 47px;
  padding: 10px;
  background-color: #0EF387; /* Light green button */
  color: #0C0D0D; /* Dark color for the button text */
  border: none;
  border-radius: 40px;
  cursor: pointer;
  margin-top: 55px;
}

.navigation {
  margin-top: 15px;
  margin-left: 0; /* Align navigation text with the form */
}
.navText {
  color: rgba(250, 250, 250, 0.6); /* 60% opacity for the main text */
  display: inline;
}

.navLink {
  color: rgba(250, 250, 250, 1); 
  text-decoration: none; 
  transition: text-decoration 0.2s; 
}

.navLink:hover {
  text-decoration: underline;
  color: rgba(250, 250, 250, 1);
}

.togglePasswordIcon {
  cursor: pointer;
  position: absolute;
  right: 10px; /* Align it to the right within the input */
  top: 50%; /* Center it vertically */
  transform: translateY(-50%);
  width: 24px; /* Adjust size of the icon */
  height: 24px; /* Adjust size of the icon */
}
