/* src/components/LoginPage/LoginPage.module.css */
.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center elements horizontally */
  width: 1440px;
  height: 709px;
  margin: 0 auto;
  background-color: #0C0D0D;
}

.pageHeader {
  width: 419px;
  margin-bottom: 10px; /* Adjust this value to reduce space */
}

.pageHeader h1 {
  font-size: 30px;
  color: #FAFAFA;
}

.pageDescription {
  width: 419px;
  text-align: center; /* Center the text if desired */
  color: rgb(250, 250, 250);
}

.pageDescription p {
  font-size: 16px;
}
