.loginPage {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 709px;
  margin: 0 auto;
  background-color: #0C0D0D;
}

.pageHeader {
  width: 419px;
  margin-bottom: 0;
  margin-left: 786px; /* Adjusted margin to move the header */
}

.pageDescription {
  width: 419px;
  color: #666;
  margin-left: 786px; /* Adjusted margin to move the description */
}

.loginForm {
  width: 100%; 
  max-width: 500px;
  margin-left: 786px; /* Apply this margin to shift the form */
  border-radius: 12px;
  padding: 20px;
  background-color: #FFFFFF; /* Optional: Add background to form */
}

.loginForm button {
  width: 100%;
  max-width: 145px;
  margin-top: 20px;
}
