/* src/components/AuthNav/AuthNav.module.css */
.authNav {
  display: flex;
  justify-content: center;
  margin-top: 26px;
}

.link {
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
   width: 137px; /* Adjust width as needed */
  height: 47px;
   border-radius: 40px;
}

.link:hover {
  text-decoration: underline;
}
.header {
  padding: 20px;
  max-width: 1000px;
  width: 562px;
  height: 351px;
  margin-left: 53px;
  margin-top: 5px;
  border-radius: 10px;
}
/* Example styles for the AuthNav component */

.header h4 {
  color: rgba(250, 250, 250, 0.4);/* Text color for h3 */
  font-size: 15px;
  font-weight: bold;
}

.header h1 {
  color: #FAFAFA; /* Text color for h1 */
  font-size: 35px;
  font-weight: 700;
  margin: 10px 0;
}

.header h1 span {
   color: #0EF387;/* Text color for span with 40% opacity */
  text-decoration: underline;
}

.header p {
   color: rgba(250, 250, 250, 0.4);/* Text color for paragraph */
  font-size: 15px;
  line-height: 1.5;
  margin-top: 20px;
}
.signUp {
  background-color: #0EF387; /* Green background */
  color: #0C0D0D; /* White text */
 margin-left: 0;
 
  
}

.signIn {
  color: #FAFAFA; /* Green text */
  border: 2px solid rgba(250, 250, 250, 0.4); /* Green border */
  margin-left: 12px;
}

.signUp:hover {
  background-color: #09c574; /* Darker green on hover */
}


