/* src/components/AuthNav/AuthNav.module.css */
.authNav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.link {
  margin: 0 10px;
  text-decoration: none;
  color: #007bff;
  font-size: 1rem;
}

.link:hover {
  text-decoration: underline;
}
.header {
  padding: 20px;
  max-width: 1000px;
  width: 562px;
  height: 351px;
  margin-left: 53px;
  margin-top: 5px;
  border-radius: 10px;
}
/* Example styles for the AuthNav component */

.header h4 {
  color: rgba(250, 250, 250, 0.4);/* Text color for h3 */
  font-size: 15px;
  font-weight: bold;
}

.header h1 {
  color: #FAFAFA; /* Text color for h1 */
  font-size: 35px;
  font-weight: 700;
  margin: 10px 0;
}

.header h1 span {
   color: #0EF387;/* Text color for span with 40% opacity */
  text-decoration: underline;
}

.header p {
   color: rgba(250, 250, 250, 0.4);/* Text color for paragraph */
  font-size: 15px;
  line-height: 1.5;
  margin-top: 20px;
}

