/* src/components/LoginPage/LoginPage.module.css */
.loginPage {
   display: flex;
  flex-direction: column;
   width: 1440px;
  height: 709px;
   margin: 0 auto;
   background-color: #0C0D0D;
}

.pageHeader {
  width: 419px;
  height: 128px;
  margin-top: 58px; /* Adjust this value to reduce space */
  margin-left: 776px;
  Position: relative;
}

.pageHeader h1 {
  font-size: 30px;
  color: #FAFAFA;
}

.pageDescription {
  width: 419px;
  color:  #666;
}

.pageDescription p {
  font-size: 16px;
}

