.header {
  width: 533px;
  height: 123px;
  margin-left: 786px;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between the heading and description */
}

.header h1 {
  font-size: 32px;
  color: #FAFAFA;
}

.description {
  font-size: 16px;
  color: #666; /* Consider using a lighter color for contrast if needed */
}
