/* src/components/RegisterPage/RegisterPage.module.css */
.registerPage {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #0C0D0D;
  padding: 20px; /* Add padding for spacing */
}

.header {
  width: 100%; /* Full width to align centrally */
  max-width: 600px; /* Adjust max-width */
  text-align: center; /* Center-align text */
  margin-top: 25px; /* Top margin for spacing */
   margin-left: 344px; 
}

.header h1 {
  font-size: 32px;
  color: #FAFAFA;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  color: #666;
  margin-top: 10px; /* Margin for spacing */
}

.registerPage form {
  width: 100%;
  max-width: 500px; /* Adjust based on design needs */
  border-radius: 12px;
  padding: 20px; /* Add padding inside the form */
}

.registerPage button {
  width: 100%;
  max-width: 145px; /* Adjust button width */
  height: 47px;
  padding: 10px;
  font-size: 16px;
  background-color: #0EF387;
  color: #0C0D0D;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px; /* Add margin for spacing */
}

.registerPage button:hover {
  background-color: #218838;
}

.registerPage a {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: rgb(250, 250, 250);
  text-decoration: none;
}

.registerPage a:hover {
  text-decoration: underline;
}
